// 样式设定
.theme-content {
  .theme {
    @each $theme, $theme-color in $theme-list {
      &-#{$theme} {
        background-color: $theme-color;
        border-radius: 5px;
        display: inline-block;
        min-width: 30px;
        min-height: 20px;
        padding: 0 5px;
      }
    }
  }
}
.theme-color {
  display: inline-block;
  padding: 0 5px;
  border-radius: 5px;
}
.ivu-menu-item {
  font-size: #{$fontSize}px;
}
.ivu-btn-primary {
  @include set_bg_color($buttonColor);
}
.main-header {
  @include set_bg_color($bgColor);
}
.main-header {
  .container {
    @include set_bg_color($bgColor);
  }
  .nav-item {
    @include set_color($default-color);
  }
}
.tag-link {
  @include set_color($default-color);
}

@each $font-size in $font-size-list {
  .fz#{$font-size} {
    font-size: #{$font-size}px;
  }
}