
html,body { 
  font-size: 12px;
  font-family: -apple-system,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Arial,sans-serif;
  word-break: break-word;
  text-rendering: optimizeLegibility;
  color: #333;
  background-color: #f4f5f5;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #909090;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.mgt10 {
  margin-top: 10px;
}
.shadow {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}
.view {
  margin-top: 1.767rem;
}
.main-area {
  position: relative;
  width: 700px;
  max-width: 100%;
  background-color: #fff;
  border-radius: 2px;
  box-sizing: border-box;
}